@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-width: 600px;
}
.availability-cell {
	border: 0.2px solid black;
}
.availability-cell-red {
	background-color: rgb(229, 115, 115);
}
.hover-availability-cell-red:hover {
	cursor: pointer;
	background-color: rgb(219 88 88);
}
.availability-cell-green {
	background-color: rgb(115, 229, 115);
}
.hover-availability-cell-green:hover {
	cursor: pointer;
	background-color: rgb(88 219 88);
}
.availability-cell-red {
	background-color: rgb(229 229 229);
}
.hover-availability-cell-red:hover {
	cursor: pointer;
	background-color: rgb(140 140 140);
}
.availability-cell-black {
	background-color: rgb(0 0 0);
}
.main-content {
	@apply w-full relative bg-gray-300;
	/* margin: 0 auto 0 auto; */
	min-height: calc(100% - 64px);
	/* height: inherit; */
}
.header-page-center-container {
	@apply w-full h-full bg-inherit pt-4 pb-4;
}
@layer components {
	.header-page-center-container-card {
		@apply flex flex-col  w-5/6 p-5 justify-between;
		margin: 1.5rem auto;
		min-width: 600px;
	}
}
