@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}
.main-content {
	@apply w-full relative;
	margin: 0 auto 0 auto;
	min-height: calc(100% - 64px);
	background: green;
	display: table;
	/* height: inherit; */
}
.header-page-center-container {
	@apply w-full h-full bg-red-700;
	padding-bottom: 1rem;
	padding-bottom: calc(64px + 1rem);
	display: table-cell;
}
@layer components {
	.header-page-center-container-card {
		@apply flex flex-col  w-5/6 p-5 justify-between;
		margin: 1.5rem auto;
	}
}
